{% extends 'PortfolioDatabase/base.html' %}

{% block body %}
  <h1 class="text-center extra-padding blue_background white_text">About Me</h1>
  <div class="container">
    <p class="col-md-12">Hello! My name is Cory and I have a wife and two kids. I was lucky enough to have the chance to chase my dreams so I jumped on it.
     I am a first generation student and I will be finishing up my Bachelors next semester. I have an internship at Veracity Networks and
      it is an amazing experience. Each day either at work or at school I am learning so much that is like drinking from a firehose. It is very
      overwhelming but I will not give up until I have reached my goal!
    </p>
    <hr class="blue_background"/>
  </div>
{% endblock %}